In [8]:
import os
os.chdir("C:\\Users\\suhas\\Documents\\GitHub\\ITEC657-Workshop-Repository\\data")

In [9]:
import pandas as pd

In [11]:
df = pd.read_csv('6a.csv', index_col=0, delimiter=r"\s+")

In [12]:
df.head()

      mo data_type region  extent   area
year
1979   1   Goddard      N   15.54  12.33
1980   1   Goddard      N   14.96  11.85
1981   1   Goddard      N   15.03  11.82
1982   1   Goddard      N   15.26  12.11
1983   1   Goddard      N   15.10  11.92